export(attachAssayDataElements)
export(BigMatrix)
export(BigMatrixFactor)
export(updateAssayDataElementPaths)
exportMethods('[')
exportMethods('[<-')
exportMethods('dimnames<-')
exportMethods('levels<-')
exportMethods(annotatedDataFrameFrom)
exportMethods(dim)
exportMethods(dimnames)
exportMethods(length)
exportMethods(levels)
exportMethods(ncol)
exportMethods(nlevels)
exportMethods(nrow)
import(bigmemory)
import(methods)
importClassesFrom(Biobase,AnnotatedDataFrame)
importClassesFrom(Biobase,AssayData)
importFrom(Biobase,annotatedDataFrameFrom)
importFrom(Biobase,assayDataElement)
importFrom(Biobase,assayDataElementNames)
