export(attachAssayDataElements)
export(BigMatrix)
export(BigMatrix2)
export(BigMatrixFactor)
export(updateAssayDataElementPaths)
exportMethods('[')
exportMethods('[<-')
exportMethods('dimnames<-')
exportMethods('levels<-')
exportMethods(annotatedDataFrameFrom)
exportMethods(apply)
exportMethods(as.matrix)
exportMethods(dim)
exportMethods(dimnames)
exportMethods(length)
exportMethods(levels)
exportMethods(ncol)
exportMethods(nlevels)
exportMethods(nrow)
exportMethods(updateObject)
import(bigmemory)
import(methods)
importFrom(biganalytics,apply)
importFrom(Biobase,annotatedDataFrameFrom)
importFrom(BiocGenerics,updateObject)
